/* Credit */
/* CEF Fonts CJK, etc. */
/* https://github.com/Partyb0ssishere/cef-fonts-cjk */

:root{
    color-scheme: light dark;
    background-color: light-dark(rgb(220, 225, 230), rgb(20, 25, 30));
    font-family: "CEF Fonts CJK", "Noto Sans CJK SC", sans-serif;
}

/* @font-face {
    font-family: "CEF Fonts CJK";
    src: url(/fonts/cef-fonts-cjk/CEFFontsCJK-Regular.ttf);
} */