.title-sub {
    font-size: 3em;
    padding-top: 2em;
    text-align: center;
    color: hsl(180, 30%, 60%);
    opacity: 0.2;
    transition-duration: 5s;
    transition-delay: 1s;
}

.title-sub:hover {
    font-size: 5em;
}

#meaning,
#sub {
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
}

div#rakka_silhouette img {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 80vw;
    max-height: 80vh;
    opacity: 0.3;
}
