.title-sub {
    color: hsl(180, 19%, 17%);
    font-size: 3em;
    margin: 3em;
    opacity: 0.2;
    text-align: center;
    overflow: hidden;
    animation: falling 3s ease-in-out;
}

@keyframes falling {
    from {
        transform: rotate(0.5turn);
    }
    to {
      transform: translateY(100vh);
      opacity: 0;
    }
}

.mainPage{
  font-size: clamp(2em, 2vw, 2.5em);
  line-height: 2em;
  text-align: center;
}

#rakka_silhouette {
    z-index: -1;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
}

.forgetting{
  font-size: 2em;
  text-align: center;
  visibility: hidden;
}